<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer-content">
            <h3 id="h3_ft">Tiger book</h3>
            <p>ทิกเกอร์ บุ๊คส์ เว็บไซต์ยืม-คืน หนังสือออนไลน์ มีครบทั้ง นิตยสาร หนังสือนวนิยาย หนังสือวรรณกรรม ทั้งฉบับใหม่และย้อนหลังพร้อมให้เลือกสรร</p>
            <div class="socials">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google"></i></a></li>
            </div>
        </div>
        <div class="footer-bottom">
            <p><span>Copyright &copy; 2023 Tiger book.</span> - ทางทิกเกอร์บุ๊คส์ขอสงวนลิขสิทธิ์ตามพระราชบัญญัติลิขสิทธิ์ พ.ศ. 2537 (ฉบับล่าสุด) For support: member@tiger.com</p>
        </div>
    </footer>
</body>

</html>
