<!-- <nav>
     <div class="navbar">
          <ul>
               <li><a href="/users/home">หน้าหลัก</a></li>
               <li>
                    <a href="/users/category">หมวดหมู่</a>
                    <ul class="category">
                         <li><a href="">วรรณกรรม</a></li>
                         <li><a href="">การ์ตูน</a></li>
                         <li><a href="">นวนิยาย</a></li>
                    </ul>
               </li>
          </ul>
     </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light  sticky-top pt-2">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link link-dark" href="/home">หน้าหลัก</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        หมวดหมู่
                    </a>
                    <div class="dropdown-content rounded" style="border: 1px solid #FF8D1C; ">
                        <a class="dropdown-item" style="border-bottom: 1px solid #FF8D1C;" href="/cartoon">การ์ตูน</a>
                        <a class="dropdown-item" style="border-bottom: 1px solid #FF8D1C;"
                            href="/literature">วรรณกรรม</a>
                        <a class="dropdown-item" style="border-bottom: 1px solid #FF8D1C;" href="/novel">นวนิยาย</a>
                    </div>
                </li>
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="ค้นหาสินค้า">
                    <button type="submit">ค้นหา</button>
                </form>

                <li class="nav-item">
                    <a href="/cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart-fill" viewBox="0 0 16 16" style="color: white;">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bell-fill" viewBox="0 0 16 16" style="color: white;">
                        <path
                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>
                </li>
                <li class="nav-item" id="profile-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16" style="color: white;">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                    <ul id="profile-menu-dropdown" class="hidden rounded" style="border: 1px solid #FF8D1C;">
                        <li><a href="/borrow">การเช่าของฉัน</a></li>
                        <li><a href="/edit.ejs">แก้ไขโปรไฟล์</a></li>
                        <li><a href="/login.ejs">ออกจากระบบ</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    const profileIcon = document.getElementById('profile-icon');
    const profileMenuDropdown = document.getElementById('profile-menu-dropdown');

    profileIcon.addEventListener('click', function () {
        profileMenuDropdown.classList.toggle('hidden');
    });
</script>

<!-- <nav>
     <div class="navbar">
          <ul>
               <li><a href="/">หน้าหลัก</a></li>
                <li>
                    <a href="/">หมวดหมู่ &nabla;</a>
                    <ul class="category">
                         <li><a href="/literature">วรรณกรรม</a></li>
                         <li><a href="/cartoon">การ์ตูน</a></li>
                         <li><a href="/novel">นวนิยาย</a></li>
                    </ul>
               </li>
          </ul>
     </div>
</nav> -->