<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Add Book</title>
</head>

<body>
     <div>
          <h2>เพิ่มหนังสือ</h2>
          <form action="/books/insert" method="post" enctype="multipart/form-data">
               <div class="form-group">
                    <label for="bookid">รหัสหนังสือ</label>
                    <input type="text" id="bookid" name="bookid" required><br />

                    <label for="title">ชื่อหนังสือ</label>
                    <input type="text" id="title" name="title" required><br />

                    <label for="category">หมวดหมู่</label>
                    <select id="category" name="category">
                         <option value="วรรณกรรม">วรรณกรรม</option>
                         <option value="การ์ตูน">การ์ตูน</option>
                         <option value="นวนิยาย">นวนิยาย</option>
                    </select><br />

                    <label for="author">ชื่อผู้แต่ง</label>
                    <input type="text" id="author" name="author" required><br />

                    <label for="publisher">สำนักพิมพ์</label>
                    <input type="text" id="publisher" name="publisher" required><br />

                    <label for="synopsis">เรื่องย่อ</label> <br>
                    <textarea id="synopsis" name="synopsis"  cols="50" rows="30"></textarea required> <br>
                    <label for="price">ราคา</label>
                    <input type="number" id="price" name="price" required><br />

                    <label for="amount">จำนวนเล่ม</label>
                    <input type="number" id="amount" name="amount" required><br />

                    <label for="image">รูปภาพ</label>
                    <input type="file" id="image" name="image" required><br />

                    <button class="addbook">บันทึกข้อมูล</button>
               </div>
          </form>
     </div>
</body>

</html>