<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เช่าหนังสือ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/borrow.css">
</head>
<body>
    <%- include('./Partials/nav.ejs') %>
    <header>
        <h1>ประวัติเช่าหนังสือ</h1>
    </header>
    <section class="centered-section">
        <div class="img1">
            <img src="https://image.makewebeasy.net/makeweb/m_1920x0/7GFEYsdVK/DefaultData/The_Reader_front_cover_FINAL.jpg?v=202206091808" alt="book">
        </div>
        <div class="headbook">
         <p><% rentData.forEach((item) => { %>
            <li>ชื่อหนังสือที่เช่าทั้งหมด: <% item.cart.forEach((books) => { %></li>
                    <p>ชื่อหนังสือ: <%= books.book %></p>
                <% }); %></p>

          <% }); %></p>
        </div>
    </section>

    <div class="button-borrow">
        <a href="#" class="btn   fw-bold" style="border-radius: 10px!important; background-color: #FFB366; color: white;">ชำระเงิน</a>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>