<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>literature category</title>
     <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
     <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
</head>
<body>
     <%- include('../partials/nav') %>
     <h2>Welcom to literature category</h2>
     <!--ภาพปก-->

    <img  class="img_title" src="/images/7day.jpg" alt="" >
   

    
    <% if (books.length > 0) { %>
        <% books.forEach(book => { %>
            <div>
                <p>ชื่อเรื่อง: <%= book.title %></p>   
                <img src="/images/<%= book.image %>" alt="" width="200px">
                <br><br>
                <button><a class="detail" href="/users/detail/<%= book.id %>">ดูรายละเอียด</a></button>
                <br><br>
                <button onclick="">Add to Cart</button>
                <br><br>
            </div>
        
                          
        <% }) %>
    <% } else { %>
        
            There are no students to display
        
    <% } %>
</body>
</html>