
/*รายละเอียด*/

.img_book_detail {
     display: block;
     float: left;
     width: 200px;
     border-radius: 10px;
     margin-top: 40px;
   }
   
   
   .detail_book {
     flex: 1;
     display: flex;
     flex-direction: column;
   }
   
   #title_book_datail {
     border-bottom: 3px solid #FF8D1C;
     font-size: 35px;
   }
   
   
   .detail_book_p {
   
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-top: 0;
   
   }
   
   .detail_book_p p {
     margin-top: 10px;
     margin-left: 10px;
     color: #482727;
     margin-bottom: 0;
   }
   
   .detail_book {
     margin-left: 220px;
     margin-top: 40px;
   
   }
   
   .detail {
     margin: auto;
   
   
   }
   
   #synopsis {
     margin-top: 70px;
     font-size: 35px;
   
   
   }
   
   .synopsis_detail {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin: 0;
     margin-left: 10px;
   }
   
   
   .detail_trolley {
     margin-left: 10px;
     float: right;
   
   }
   
   .bt_book_trolley {
     padding: 10px;
   }
   
   #price_detail_book {
     font-weight: bold;
   
     font-size: 20px;
   
   }
   /*ปุ่ม*/
   
   .bt_book_trolley{
     border: 1px solid #FF8D1C;
       background-color: #FFB366;
       color: white;
       border-radius: 15px;
   
   }
   