@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ออกจากระบบ */

.logout-btn {
  width: 100%;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  background-color: #F95F19;
  color: white;
  padding: 8px 8rem;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
}

.logout-btn:hover{
  background-color: #d54503;
  color: white;
}

/* editprofile */

.edit-container h5{
  font-family: 'Prompt', sans-serif;
  margin-bottom: 1rem;
}

.edit-h2{
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0px;
  font-family: 'Prompt', sans-serif;
}

.edit-container{
  font-family: 'Prompt', sans-serif;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 500px;
  border-radius: 5px;
}


/* home */

.home-h2{
  font-family: 'Prompt', sans-serif;
}

.edit-btn{
  width: 100%;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  background-color: #F95F19;
  color: white;
  padding: 8px 8rem;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 3rem;
}

.edit-btn:hover{
  background-color: #d54503;
  color: white;
}


/* -------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}
.container {
display: flex;
justify-content: flex-end;
align-items: center; 
height: 100%; 
padding-top: 50px;
}
nav > .container > div > ul > li > a:hover {
  color: #FF8D1C!important;
}

nav > .container > div > ul > li:hover {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #FFCC99;
  border-bottom: none;
  box-shadow: 2px 4px 18px #18181818;
}

nav > .container > div > ul > li:hover > a > i {
  transition: .25s;
  transform: rotate(180deg)
}

nav > .container > div > ul > li > ul {
  display: none;
  list-style: none;
}

nav > .container > div > ul > li:hover > ul > li:hover > a > i {
  transition: .25s;
  transform: rotate(180deg)
}

nav > .container > div > ul > li:hover > ul {
  position: absolute;
  display: block!important;
  padding-left: 1em;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #f5f5f5;
  box-shadow: 2px 4px 18px #18181818;
}

nav > .container > div > ul > li:hover > ul > li {
  padding-right: 1em;
}

/* Second Level [Dropdown] elements ([#tags]A display on [#tags]a first level on action hover)*/
nav > .container > div > ul > li:hover > ul > li > a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: .25em 0;
}

nav > .container > div > ul > li:hover > ul > li > a:hover {
  color: #FF8D1C!important;
}


.search-input {
position: relative;
}
.hidden {
display: none;
}

/* CSS to style the dropdown menu */
#profile-menu-dropdown {
position: absolute;
background-color: white;
z-index: 1;
padding: 2px 0;
width: 120px;
list-style-type: none;
margin: 0;
border: 1px solid #FF8D1C;
}

#profile-menu-dropdown li {
padding: 8px;
text-align: center;
border-bottom: 1px solid #FF8D1C;
}

#profile-menu-dropdown li:last-child {
border-bottom: none; /* ไม่ต้องมีเส้นขอบด้านล่างสำหรับรายการสุดท้าย */
}

#profile-menu-dropdown li:hover {
color: white;
cursor: pointer;
}
#profile-menu-dropdown a {
color: black; 
font-size: 14px;
}

.search-input input[type="text"] {
padding-right: 30px; 
border-radius: 20px;
width: 150px;
border: 1px solid #FFCC99;
}

.search-icon {
position: absolute;
top: 50%;
right: 10px; 
transform: translateY(-50%);
cursor: pointer;
color: #FF8D1C;
}
.navbar {
background-color: #F95F19;
}
.navbar-nav {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
margin-left: auto;
padding: 0;
}

.navbar-brand {
margin-right: 30px;
}
#navbar{
margin-right: 20px;
}
.nav-link, .dropdown-content a {
font-size: 14px;
}

/* สไตล์สำหรับเมนู Dropdown */
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a {
padding: 10px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
color: #FF8D1C;
}
.cart-icon,.notification-icon, .person-icon {
font-size: 24px;
margin-left: 10px;
}
.nav-item{
margin-left: 20px;
}


